{% load static %}

<nav class="side-navbar">

  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="{% static "companyDashboard/img/avatar-1.jpg" %}" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
      <h1 class="h4"> {{user.name}} </h1>
      <p>{{user.company.location}}</p>
    </div>
  </div>

  <!-- Sidebar Navidation Menus-->

  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active"> <a href="./"><i class="icon-home"></i>Home</a></li>
    <li> <a href=" "> <i class="icon-grid"></i>Tables </a></li>
    <li> <a href=""> <i class="fa fa-bar-chart"></i>Charts </a></li>
    <li> <a href=""> <i class="icon-padnote"></i>Forms </a></li>
    <li> <a href=""> <i class="icon-interface-windows"></i>Login Page</a></li>


  </ul><span class="heading">Serviços</span>
  <ul class="list-unstyled">
    <li><a href="{% url 'service_list' %}"> Geral </a></li>
    <li><a href="{% url 'hair_service_create' %}"> Cabelo </a></li>
    <li><a href="{% url 'beard_service_create' %}"> Barba </a></li>
    <li><a href="{% url 'nail_service_create' %}"> Unha </a></li>
    <li><a href="{% url 'makeup_service_create' %}"> Maquiagem </a></li>
    <li><a href="{% url 'combo_service_create' %}"> Combo </a></li>
  </ul>
</nav>
