{% extends "landing/template.html" %} {% block content %} {% load staticfiles %} {% load static %}

<header id="home" class="home" style="background-image: url({% static 'landing/assets/images/searchbg.png' %})">
  <div class="header-title">
    <div class="title">
      <br>
      <h1><b> Resultados da Pesquisa </b></h1>
    </div>
  </div>
  <br>
</header>
<br>

<div class="row">

  <div class="col-xs-3 col-md-3">
    <div class="sidebar">
      <div class="panel panel-default">
        <div class="panel-heading">Filtrar Resultados</div>
        <div class="panel-body">
          <form method="POST" action "">

            <div class="form-group">
              <h7 align="center"><i class="fa fa-map-marker "></i> Localização</h7>
              <div class="row">
                <div class="col-xs-8 col-md-8">
                  <input type="search" name="nome" id="nome" class="form-control" placeholder="Ex: Brasília">
                </div>
                <div class="col-xs-4 col-md-4">
                  <button type="button" class="btn" style="width: 75%"><i class="fa fa-map-marker "></i></button>
                </div>
              </div>
              <br>
              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 90 %"><i class="fa fa-search"></i> Pesquisar</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <h7 align="center"><i class="fa fa-home"></i> Nome do estabelecimento</h7>
              <input type="search" name="nome" id="nome" class="form-control" placeholder="Ex: Salão do Zé">
              <br>
              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 50%"><i class="fa fa-search"></i> Pesquisar</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <h7 align="center"><i class="fa fa-scissors"></i> Tipo de Serviço</h7>
              <input type="search" name="nome" id="nome" class="form-control" placeholder="Ex: Corte de Cabelo">
              <br>
              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 50%"><i class="fa fa-search"></i> Pesquisar</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <h7 align="center"><i class="fa fa-money"></i> Faixa de Preço</h7>
              <br>
              <b>R$ 0</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="500" data-slider-step="5" data-slider-value="[5,200]" /> <b>R$ 500</b>
              <br>
              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 50%"><i class="fa fa-search"></i> Pesquisar</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <h7 align="center"><i class="fa fa-clock-o"></i> Horário de Funcionamento</h7><br><br>
              <label for="hora">Abre às: </label>
              <input type="time" name="hora" id="hora" class="form-control">
              <br>
              <label for="hora">Fecha às: </label>
              <input type="time" name="hora" id="hora" class="form-control">
              <br>
              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 50%"><i class="fa fa-search"></i> Pesquisar</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <h7 align="center"><i class="fa fa-users"></i> Gênero Alvo</h7>
              <br>

              <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="feminino" id="unissex">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description"><i class="fa fa-venus-mars"></i> Unissex</span>
                      </label>
              <br>
              <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="masculino" id="masculino">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description"><i class="fa fa-mars"></i> Masculino</span>
                      </label>
              <br>
              <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="feminino" id="feminino">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description"><i class="fa fa-venus"></i> Feminino</span>
                      </label>

              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 50%"><i class="fa fa-search"></i> Pesquisar</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <h7><i class="fa fa-check"></i> Facilidades</h7>
              <br>

              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="unissex" id="unissex">
                        <i class="fa fa-credit-card"></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Cartão De Crédito</span>
                    </label>
              <br>
              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="masculino" id="masculino">
                        <i class="fa fa-credit-card-alt "></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Cartão De Débito</span>
                    </label>
              <br>
              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="feminino" id="feminino">
                        <i class="fa fa-money"></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">  Dinheiro</span>
                    </label>
              <br>
              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="feminino" id="feminino">
                        <i class="fa fa-car"></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">  Estacionamento</span>
                    </label>
              <br>
              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="feminino" id="feminino">
                        <i class="fa fa-address-book-o"></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">  Agendamento</span>
                    </label>
              <br>
              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="feminino" id="feminino">
                        <i class="fa fa-gift"></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">  Promoção</span>
                    </label>
              <br>
              <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="feminino" id="feminino">
                        <i class="fa fa-home"></i>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">  Atende a Domicílio</span>
                    </label>

              <div align="center">
                <button type="submit" class="btn btn-secondary btn-sm" style="width: 50%"><i class="fa fa-search"></i> Pesquisar</button>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-9 col-md-9">
    <!-- Put the number os results finded -->
    {% block search_content %} {% endblock %}

  </div>


</div>


{% endblock %}
