{% extends "companyDashboard/template.html" %} {% block content %}

<div class="card" style="margin:20px">
  <div class="header">
    <h4 class="title" style="margin:20px"><center>Company Edit</center></h4>
  </div>
  <div class="content table-responsive ">

    <form method="post" action=".">
        {% csrf_token %}
         <div class="form-group" style="margin-left:40px; margin-right:40px">
          {% for error in form.name.errors %}
          <div class="alert alert-danger"role="alert">{{error}}</div>
          {% endfor %}
          <label for="{{ form.name.id_for_label }}">Nome:</label>
          {{ form.name }}
        </div>

        <div class="form-group" style="margin-left:40px; margin-right:40px">
          {% for error in form.description.errors %}
          <div class="alert alert-danger"role="alert">{{error}}</div>
          {% endfor %}
          <label for="{{ form.description.id_for_label }}">Descrição:</label>
          {{ form.description }}
        </div>

        <div class="form-group" style="margin-left:40px; margin-right:40px">
          {% for error in form.target_genre.errors %}
          <div class="alert alert-danger"role="alert">{{error}}</div>
          {% endfor %}
          <label for="{{ form.target_genre.id_for_label }}">Público Alvo:</label>
          {{ form.target_genre }}
        </div>

        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Comfirmar" style="margin-left:40px; margin-right:580px"/>
    </form>
  </div>
</div>
{% endblock %}
