{% extends "companyDashboard/template.html" %} {% block content %}
{% load staticfiles %}
{% load static %}

  <!-- <body> -->
  <div class="card" style="margin:20px">
    <div class="row" style="margin:20px">
        <div class="container center-align"><br>
          <div class="col-md-12 lead"><b><font size="8" class="text">Company Profile</font></b>
                {% if company.is_authenticated %}
                  {% ifequal editable_profile 1 %}
                  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                <br>
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Confirmar Exclusão</h4>
                                  </div>

                                  <div class="modal-body">
                                      <p>Está é uma ação irreversível</p>
                                      <p>Você quer excluir sua conta?</p>
                                  </div>

                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                      <a class="btn btn-danger btn-ok">Excluir</a>
                                  </div>
                              </div>
                          </div>

                  </div>
                  <a href="#" data-href="{% url 'delete_company_view' company.email %}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger pull-right">Excluir</a>
                  <a href="{% url 'edit' company.email %}" class="btn btn-primary pull-right">Edit</a>
                  {% endifequal %}
                {% endif %}  <hr>
            <div class="col-md-12">
              <div class="row" style="margin:20px">
                <div class="col-md-12">
                  <font size="6" class="text"><b>Nome: </b>{{ company.name }} </font>
                </div>


                <div class="col-md-6">
                  <span class="text-muted"><b>Email:</b></span> {{ company.email }}<br>
                  <span class="text-muted"><b>Localização:</b></span> {{ company.location }}<br>
                  <span class="text-muted"><b>Descrição:</b></span> {{ company.description }}<br>
                  <span class="text-muted"><b>Público Alvo:</b></span> {{ company.target_genre }}<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </body> -->
  <!--TODO Ver com a professora onde é melhor local pra isso-->
  <script>
      $('#confirm-delete').on('show.bs.modal', function(e) {
          $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
      });
  </script>
{% endblock %}
